
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: gold solid 2px;
    background:linear-gradient(to top, #e7a517, #e03333);;
}

.logo {
    max-width: 15vh;
    max-height: 15vh;
}

.logo_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: rgb(16, 16, 15);
  font-family: cursive;
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  gap: 12px;
}

.buttons_ability {
  align-items: center;
  background-clip: padding-box;
  background-color: #5542355a;
  border-radius: .25rem;
  border: #7d7564 solid 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  justify-content: space-between;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1.25;
  padding: 10px;
}

.buttons_ability:hover,
.buttons_ability:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttons_ability:hover {
  transform: translateY(-1px);
}

.buttons_ability:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

