
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: gold solid 2px;
    background:linear-gradient(to top, #e7a517, #e03333);;
}

.logo {
    max-width: 15vh;
    max-height: 15vh;
}

.logo_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: rgb(16, 16, 15);
  font-family: cursive;
}

.nav_section {
  width: 100%;

}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons_ability {

  align-items: center;
  background-clip: padding-box;
  background-color: #5542355a;
  border-radius: .25rem;
  border: #7d7564 solid 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  justify-content: space-between;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1.25;
  padding: 10px;
}

.buttons_ability:hover,
.buttons_ability:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttons_ability:hover {
  transform: translateY(-1px);
}

.buttons_ability:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* .heartstone_ability {
    display: none;
    z-index: -1;
    box-shadow: 2px 2px 0 #BEBEBE;
    list-style: none;
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
}

.buttons_ability:hover .heartstone_ability {
    z-index: 1;
    display: flex; 
    flex-direction: row;
    position: absolute;
    height: 100%;
    top: 100%; 
    left: 0; 
}
 */
.list_ability {
  position: absolute;
  display: none;
  width: max-content;
  border: 1px solid black;
  max-height: fit-content;
  background-color: black;
  z-index: 1;
  margin: 0;
  word-break: break-all;
  padding: 0;
}

 .heartstone_ability {
    padding: 4px 10px;
    list-style: none;
    color: white;
    width: 100%;
    margin: 0;  
 }

 .buttons_ability:hover > .list_ability {
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-height: fit-content;
    gap: 10px;
    top: 50px;
    right: 4px;
    z-index: 1;
 }

 .nav_list {
    position: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    gap: 12px;
 }

