.search_section {
  display: flex;
    background:linear-gradient(to top, #e03333, #e7a517);
    height: 65px;
    align-items: center;
    justify-content: center;
    border-bottom: gold solid 2px;
}


.btn_search {
  align-items: center;
  background-clip: padding-box;
  background-color: #5542355a;
  border: 1px solid transparent;
  border-radius: .25rem;
  border: #7d7564 solid 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  max-height: 2rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn_search:hover,
.btn_search:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn_search:hover {
  transform: translateY(-1px);
}

.btn_search:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.input_search {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

.input_search::placeholder {
    color: white;
}